@import '../../main.scss';
.pop-search-qry {
  position: absolute;
  z-index: 15;
  transition: all 0.2s ease-in-out;
  width: 100%;
  min-width: 280px;
  height: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  );
}

.pop-search-qry.open {
  margin: -80px 0px;
  padding: 50px 0px;
  width: 100%;
  height: 100vh;
}
.view-note-container {
  width: 70%;
  @include flex-column;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 1px 1px 20px -5px black;
  padding: 20px 10px;
  min-width: 280px;
  @include xsm-screen{
    width: 90%;
  }
  @include sm-screen{
    width:85%;
  }
  @include md-screen{
    width:85%;
  }
  .title-imp-done {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    @include sm-screen{
      align-items: flex-start;
      flex-direction: column;
    }
    .title {
      font-size: 30px;
      font-weight: 900;
      @include xsm-screen{
        font-size: 25px;
        font-weight: 600;
      }
      border-bottom: 1px solid black;
    }
    .imp-done {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .imp,
      .done {
        .outer-box {
          width: max-content;
          padding: 2px 4px;
          display: flex;
          font-size: 14px;
          border: none;
          border-radius: 5px;
          background-color: rgb(226, 224, 224);
          margin: 1px 5px;
          .inner-box {
            margin-left: 5px;
            padding-left: 3px;
            width: 14px;
            height: 14px;
            color: #ffbf00;
            @include flex-center;
            border: none;
            background-color: inherit;
            border-left: 1px solid black;
            .ico {
              font-size: 18px;
              @include xsm-screen{
                font-size: 14px;
              }
            }
          }
        }
        #imp {
          background-color: #ffff8f;
        }
        #done {
          background-color: #7fffd4;
          .ico {
            color: #2aaa8a;
          }
        }
        #not-done {
          .ico {
            color: green;
          }
        }
      }
      .noteEditBtn {
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        margin-left: 10px;
        background-color: #29b7f4;
        cursor: pointer;
        color: white;
        &:hover {
          background-color: #08a4e7;
        }
        @include xsm-screen{
          font-size: 14px;
          padding: 1px;
          width: 30px;
          height: 30px;
        }
        @include sm-screen{
          font-size: 14px;
          padding: 5px;
          width: 30px;
          height: 30px;
        }
      }
      .noteDelBtn {
        color: red;
        cursor: pointer;
        @include xsm-screen{
          font-size: 10px;
        }
      }
    }
  }
  .urls-box {
    margin: 10px 0;
    align-self: self-start;
    flex-wrap: wrap;
    @include xsm-screen{
      margin: 4px 0;
    }
    button {
      margin: 10px 10px 10px 0px;
      @include xsm-screen{
        margin: 4px 4px 4px 0px;
      }
      padding: 3px 6px;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      background-color: #b2beb5;
      color: rgb(52, 51, 51);
    }
  }
  .description {
    width: 100%;
    align-self: self-start;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: #36454f;
    color: #e5e4e2;
    font-size: 14px;
    padding: 19px 10px;
    align-self: center;
  }
}
