@import './main.scss';
.login-register-box {
  width: 35%;
  border: 1px solid #fff;
  margin: 50px auto;
  position: relative;
  background-color: white;
  @include xsm-screen{
    width: 80%;
  }
  @include sm-screen{
    min-width: 70%;
  }
  @include md-screen{
    min-width: 50%;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
  }
  .google-register{
    margin: 50px auto;
    @include flex-center;
    cursor: pointer;
    button{
      cursor: pointer;
      font-size: 18px;
      @include flex-center;
      width: 280px;
      padding: 20px;
      border: none;
      p{
        margin-left: 5px;
      }
      &:hover{
        background-color: #b8b8b8;
      }
    }
  }
  .loginModal {
    width: 100%;
    border: 1px solid black;
    margin: 75px auto 0px auto;
    @include flex-column;
    align-items: center;
    h2 {
      margin: 8px;
      color: rgb(64, 63, 63);
    }
    .input-block {
      width: 90%;
      position: relative;
      margin: 5px 0px;
      input {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        margin: 3px 0;
      }
      input:focus {
        outline: 1px;
      }
      .form-error {
        font-size: 12px;
        color: rgb(202, 87, 87);
      }
    }
    .modal-buttons {
      width: 95%;
      padding: 5px 13px;
      margin-top: 5px;
      p {
        color: #0593d0;
        font-size: 14px;
        margin: 4px 0;
      }
      .input-button {
        padding: 10px;
        border: 1px solid #00a5ec;
        background-color: #00a5ec;
        color: #fff;
        font-weight: 300px;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .login-sign-up {
      font-size: 13px;
      margin: 10px;
      @include flex-column;
      button {
        font-weight: 600;
        font-size: 14px;
        color: #00a5ec;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}
.other {
  margin: 80px 0px 0px 0px;
  @include sm-screen{
    min-width: 320px;
  }
}
.nav {
  position: relative;
  background-color: white;
  .navbar {
    position: fixed;
    width: 100%;
    min-width: 280px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    height: 60px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 6px 0px -5px rgba(237, 237, 237, 1);
    align-items: center;
    justify-content: space-between;
    .navbar-left {
      img {
        width: 120px;
        height: auto;
        margin-left: 30px;
        @include xsm-screen{
          width: 48px;
          margin-left: 10px;
        }
        @include sm-screen{
          width: 80px;
          margin-left: 10px;
        }
        @include md-screen{
          width: 90px;
          margin-left: 10px;
        }
      }
    }
   
    .navbar-middle {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 14px;
      @include sm-screen{
        justify-content: center;
        font-size: 18px;
      }
      @include md-screen{
        justify-content: center;
        font-size: 18px;
      }
      a {
        margin: 0 10px;
        @include xsm-screen{
          margin: 0 3px;
          font-size: 12px;
        }
        @include sm-screen{
          margin: 0 6px;
        }
      }
      .active {
        position: relative;
        &::after {
          content: "";
          background-color: #00a5ec;
          position: absolute;
          height: 2px;
          width: 0;
          bottom: 0px;
          left: 0px;
          transition: all 0.6s ease;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    .navbar-right {
      margin: 20px;
      @include flex-center;
      margin-right: 50px;
      @include md-screen{
        margin-right: 15px;
        @include flex-center;
      }
      @include sm-screen{
        margin-right: 20px;
        @include flex-center;
      }
      @include xsm-screen{
        margin-right: 5px;
        @include flex-center;
      }
      .g-search-box{
        @include xsm-screen{
          display: none;
        }
        @include sm-screen{
          display: none;
        }
      }
      .settings-btn {
        margin-right: 10px;
        a {
          display: flex;
          justify-content: center;
          width: 30px;
          height: 30px;
          @include xsm-screen{
            width: 15px;
            height: 15px;
            margin-bottom: 20px;
          }
          @include sm-screen{
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
          }
          border: none;
          cursor: pointer;
          .settings-ico {
            color: #00a5ec;
            font-size: 30px;
          }
        }
      }
      .logout-btn {
        background: none;
        border: 1px solid black;
        font-size: 20px;
        color: red;
        @include xsm-screen{
          margin-bottom: 5px;
        }
        @include flex-center;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.message {
  background-color: #58c9fa;
  padding: 12px 20px;
  width: auto;
  align-self: self-start;
  color: white;
  position: absolute;
  font-size: 18px;
  top: 0px;
  left: 50px;
  z-index: 100;
}
.message-hidden {
  display: none;
}
