@import '../../main.scss';
.search-pop-container {
  position: relative;
  width: 70%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  @include xsm-screen{
    width: 90%;
    padding: 10px;
  }
  @include sm-screen{
    padding: 20x;
    width: 80%;
  }
  @include md-screen{
    padding: 20x;
    width: 80%;
  }
  margin: auto;
  box-shadow: 1px 1px 10px -5px black;
  z-index: 15;
  height: 80vh;
  padding: 30px;
  border-radius: 5px;
  overflow: auto;
  background-color: white;
  span {
    color: rgb(115, 114, 114);
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .search-items-container {
    padding-top: 10px;
    background-color: white;
    .search-web-results {
      font-size: 14px;
      border-bottom: 1px solid gray;
      padding-bottom: 2px;
      p {
        padding: 3px;
      }
      .web {
        padding-bottom: 4px;
        font-weight: 600;
        color: blue;
        border-bottom: 2px solid blue;
        width: max-content;
      }
    }
    .animate {
      display: flex;
      animation: spinner 1s infinite ease-in-out forwards;
      color: blue;
      margin: 5px;
    }
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      50% {
        scale: 1.2;
      }
      100% {
        transform: rotate(720deg);
      }
    }
    .search-result {
      .content {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .title {
          font-weight: 300;
          @include xsm-screen{
            font-size: 14px;
          }
        }
        .col {
          display: flex;
          padding: 5px;
          .thumbnail {
            width: 70px;
            height: 50px;
            background-position: center;
            @include xsm-screen{
              width: 55px;
              height: 45px;
            }
          }
          .snippet {
            font-size: 14px;
            margin-left: 10px;
            @include xsm-screen{
              font-size: 12px;
            }
          }
        }
        .url-link {
          color: #00a36c;
          font-size: 14px;
          text-decoration: none;
          @include xsm-screen{
            font-size: 13px;
          }
        }
      }
    }
  }
}
