@import '../../main.scss';
.landing {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 100%;
  margin-top: -80px;
  @include xsm-screen{
    // margin-top: 0px;
  }
  .pop-login-register {
    position: absolute;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    min-width: 280px;
    @include sm-screen{
      min-width: 320px;
    }
    width: 100%;
    height: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
  }

  .pop-login-register.open {
    width: 100%;
    height: 100vh;
  }

  .landing-header {
    width: 100%;
    .navbar {
      height: 60px;
      width: 100%;
      display: flex;
      flex-direction: row;
      box-shadow: 0px 6px 0px -5px rgba(237, 237, 237, 1);
      align-items: center;
      justify-content: space-between;
      .navbar-left {
        img {
          width: 120px;
          @include xsm-screen{
            margin-left: 10px;
            width: 80px;
          }
          @include sm-screen{
            width: 100px;
            margin-left: 20px;
          }
          height: auto;
          margin-left: 30px;
        }
      }
      .navbar-right {
        margin: 50px;
        @include xsm-screen{
          margin: 20px;
        }
        @include sm-screen{
          margin: 30px;
        }
        @include flex-center;
        .login-btn {
          background: none;
          padding: 10px;
          border: 1px solid black;
          letter-spacing: 1px;
          border-radius: 5px;
          width: 80px;
          @include xsm-screen{
            width: 50px;
            padding: 5px;
            letter-spacing: 0;
          }
          cursor: pointer;
        }
        .register-btn {
          margin-left: 10px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #00a5ec;
          background-color: #00a5ec;
          color: #fff;
          font-weight: 300px;
          width: 100px;
          letter-spacing: 1px;
          font-weight: 600;
          @include xsm-screen{
            width: 70px;
            padding: 5px;
            letter-spacing: 0;
          }
          cursor: pointer;
        }
      }
    }
  }
  .landing-body {
    height: calc(100vh - 60px);
    @include xsm-screen{
      height: auto;
      margin-top: 0px;
    }
    @include sm-screen{
      height: auto;
    }
    @include md-screen{
      height: auto;
    }
    @include flex-column;
    h1 {
      text-align: center;
      margin: 50px 10px 0px 10px;
      font-size: 52px;
      @include xsm-screen{
        font-size: 22px
      }
      @include sm-screen{
        font-size: 30px
      }
      @include md-screen{
        font-size: 38px
      }
    }
    .demo-cards {
      @include flex-center;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 30px;
      .card {
        margin: 20px;
        img {
          width: 300x;
          @include md-screen{
            width: 245px;
          }
          @include lg-screen{
            width: 245px;
          }
          @include xlg-screen{
            width: 245px;
          }
          height: 170px;
          cursor: pointer;
        }
      }
    }
  }
}
